* {
    margin: 0;
    background-color: black;
}
.menubar {
    padding: 0px;
    font-size: 30px;  
}
ul {
    float: right;
    margin: 35px;
}
li, a.listnav {
    display: inline;
    text-decoration: none;
    color: rgb(255, 254, 254);
    margin: 5px;
    font-weight: 20em;
}
li:hover {
    color: red;
}
.icon {
    height: 100px;
    width: 200px;
    margin-left: 20px;
}
.header1 {
    margin-top: 70px;
    margin-left: 30px;
    color: white;
    font-size: 28px;
}
.listpic {
    display: flex;
    margin-top: 5px;
}
.list1 {
    height: 320px;
    margin: 30px 14px;
}
.header2 {
    margin-top: 15px;
    margin-left: 30px;
    color: white;
    font-size: 28px;
}
.listpic2 {
    display: flex;
    margin-top: 5px;
}
