* {
  background-color: antiquewhite;
}


.calculator {
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.display {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 24px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 2px;
}
