body {
    background-image: url('https://gamingtrend.com/wp-content/uploads/2020/03/persona-5-royal_20200309201518-scaled.jpg');
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.iconmain {
    height: 55px;
    float: left;
    margin: 0px;
}
ul, li, a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
    color: aliceblue;
}
nav {
    text-align: right;
    font-size: 30px;
    font-weight: 500; 
    padding: 30px; 
    background-color: rgb(0, 0, 0);
}
form {
    background-color: rgb(2, 0, 0);
    padding: 50px 50px 0px;
    margin: 130px 50px 100px 400px;
    width: 50%;
}
h1, label {
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.user {
    width: 100%;
    height: 70px;
}
.pass {
    width: 100%;
    height: 70px;
}
input {
    font-size: 50px;
}
input::placeholder {
    font-size: 50px;
}
.loginbutton {
    padding: 20px;
    margin: 50px 0px;
    width: 100%;
    background-color: red;
    font-size: 30px;
    color: white;
}
p, a {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
}
a:hover {
    color: blue;
}
